@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../src/fonts/open-sans.woff2") format("woff2"), url("../../src/fonts/open-sans.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../src/fonts/open-sans-bold.woff2") format("woff2"), url("../../src/fonts/open-sans-bold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
}

.Passport-spinner {
  top: 40%;
}

@media screen and (max-width: 1024px) and (min-width: 426px) {
  .Passport {
    padding-left: 10%;
  }
  .PassportMain {
    padding-left: 10%;
  }
  .Passport-spinner {
    margin: 5% auto;
    display: flex;
    position: static;
  }
}

.Passport--padding10 {
  padding-bottom: 10%;
}

.PassportFinal-client {
  margin: 5% 0 5% 3rem;
}

.PassportFinal-h2 {
  padding: 1% 0 0;
}

.PassportFinal-contract {
  margin-left: 0;
}

.PassportFinal-button {
  margin: 0 0 1rem;
}

.PassportFinal-exclamation {
  left: 0;
}

.PassportFinal-client {
  margin-left: 3rem;
}

.PassportEmail {
  padding-left: 0;
  position: relative;
}

.PassportEmail-emailImg {
  margin: 0;
  position: absolute;
  top: 0;
  right: 10%;
}

.PassportEmail-input {
  margin: 0 0 1% 0;
  width: auto;
}

.PassportEmail-subscribe {
  margin-left: 0;
}

.PassportEmail-specifyYour {
  margin-left: 0;
  width: 40%;
}

.PassportEmail-continueButton {
  margin: 0 0 5%;
  padding: 0.8rem 1%;
  width: 20%;
  display: block;
}
