@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../src/fonts/open-sans.woff2") format("woff2"), url("../../src/fonts/open-sans.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../src/fonts/open-sans-bold.woff2") format("woff2"), url("../../src/fonts/open-sans-bold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
}

.Header {
  background: linear-gradient(to top left, #44883d, #82ad48, #86af49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Header-icon {
  padding: 1rem 0 0 1.5rem;
}

.Header-hamburger {
  opacity: 0;
  width: 1.5rem;
  height: 1.3rem;
  margin-left: auto;
  z-index: 1;
  padding: 1rem 0 1rem;
}

.Header-hamburgerIcon {
  margin-right: 1.5rem;
  margin-left: -1.5rem;
}

.Header-hamburger:checked + .Header-hamburgerIcon {
  fill: #d8f939;
  opacity: .5;
}

.Header-hamburger:checked ~ .HeaderUL {
  display: block;
}

.HeaderUL {
  display: none;
  list-style: none;
  padding: 0;
  width: 100%;
}

.HeaderUL-link {
  text-decoration: none;
  color: #fff;
}

.HeaderUL-link-first {
  color: #d8f939;
}

.HeaderUL-listItem {
  font-size: 0.8rem;
  padding: 1rem 0 1rem 1.5rem;
}

.HeaderUL-listItem--1 {
  background-color: rgba(0, 0, 0, 0.02);
}

.HeaderUL-listItem--2 {
  background-color: rgba(0, 0, 0, 0.04);
}

.HeaderUL-listItem--3 {
  background-color: rgba(0, 0, 0, 0.06);
}

.HeaderUL-listItem--4 {
  background-color: rgba(0, 0, 0, 0.08);
}

.HeaderUL-listItem--5 {
  background-color: rgba(0, 0, 0, 0.1);
}

.HeaderUL-listItem--6 {
  background-color: rgba(0, 0, 0, 0.12);
}

.HeaderUL-listItem--7 {
  background-color: rgba(0, 0, 0, 0.14);
}

.buttonType {
  border-radius: 3.2px;
  border: none;
  font-size: 0.8rem;
  padding: 0.8rem 0;
  letter-spacing: 0.9px;
  width: 100%;
  width: -webkit-fill-available;
  color: #fff;
  margin: 0 1rem 0 -0.6rem;
  background-image: linear-gradient(288deg, #44883d, #86af49);
}

.buttonType:hover {
  background-image: linear-gradient(288deg, #44883d, #74A446);
}

.buttonType:active {
  background-image: linear-gradient(288deg, #44883d, #669C43);
}

.SFirst {
  padding-left: 1.5rem;
}

.SFirst--up {
  color: #fff;
}

.SFirst-h1 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 0;
}

.SFirst-mark10minute {
  display: block;
  font-family: "Open Sans Bold", serif;
  background: none;
  color: #fff;
}

.SFirst-h2 {
  font-size: 2.5rem;
  font-family: "Open Sans Bold", serif;
  margin: 0.5rem 0;
  font-weight: normal;
}

.SFirst-mark5000 {
  color: #d8f939;
  background: none;
}

.SFirst-paragraphChoose {
  padding: 1.8rem 0;
  margin: 0;
  font-size: 1.2rem;
}

.SFirst-labelCount {
  font-size: 0.8rem;
}

.SFirst-passMark {
  color: #6aa23a;
  background: none;
  font-family: 'Open Sans Bold', serif;
}

.SFirstForm {
  padding: 1.5rem 0 3.2rem 1.5rem;
}

.SFirst-inputCount {
  padding: 0.5rem;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px #cdcdcd solid;
  display: block;
}

.SFirst-paragraphError {
  margin: 0;
  padding-right: 1rem;
  font-size: 0.9rem;
  color: #e85741;
}

.SFirst-paragraphMonth {
  font-size: 0.8rem;
  padding: 1rem 0 1.2rem 0;
  margin: 0;
}

.SFirst-labelMonth {
  font-size: 1.1rem;
  opacity: 0.5;
  padding-left: 1rem;
  background-image: url("../../src/images/radiobutton-pas.svg");
  background-repeat: no-repeat;
}

.SFirst-labelMonth--12 {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.SFirst-labelMonth:hover {
  opacity: 1;
  background-image: url("../../src/images/radiobutton-act.svg");
}

.SFirst-inputMonth {
  opacity: 0;
}

.SFirst-labelTelNumber {
  font-size: 0.8rem;
}

.SFirst-inputTelNumber {
  padding: 0.5rem;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px #cdcdcd solid;
}

.SFirst-inputTelNumber::-webkit-input-placeholder {
  color: #cacaca;
}

.SFirst-parOTPPassword {
  padding: 1rem 4rem 2.5rem 1rem;
  font-size: 0.8rem;
  margin: 0;
}

.ArticleHow {
  background-color: #f9fafc;
  padding: 2rem 0 2.5rem 1.5rem;
}

.ArticleHow-h2 {
  padding: 0 1.5rem 0.5rem 0;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

.ArticleHow-quickCash {
  font-family: "Open Sans Bold", serif;
}

.ArticleHow-paragraph {
  text-align: center;
  color: #849eb0;
}

.ArticleHow-imgMoney {
  width: 100%;
  padding: 2.5rem 0;
}

.ArticleHowUL {
  padding: 0;
  margin: 0 0 2.5rem 0;
  list-style: none;
}

.ArticleHowUL-lItem {
  font-size: 0.9rem;
  color: #152844;
  font-weight: 300;
  padding-bottom: 1rem;
}

.ArticleHowUL-lItem:before {
  content: url("../../src/images/oval-2.svg");
  padding-right: 1rem;
}

.ArticleHowUL-mark {
  color: #6aa23a;
  background: none;
}

.ArticleHow-linkChooseAgreement {
  text-align: center;
  display: block;
  text-decoration-line: none;
}
