@import "../_source.scss";

.ArticleReasons {

  &-h2 {
    padding: 7rem 0 6rem;
    font-size: 3rem;
  }

  &UpContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  &Container {
    top: -2rem;
  }

  &-border {
    width: auto;
  }

  &-h3 {
    padding: 5rem 7rem 0 7rem;
    font-size: 1.5rem;
  }

  &-choose{
    margin: 7.5rem auto 9rem auto;
  }

  &UL {
    list-style: none;

    &-li {
      font-size: 1.2rem;
    }
  }
}

.ArticleFAQ{

  &-h2{
    padding: 6.5rem 0 1.5rem;
    font-size: 3rem;
  }

  &-separator{
    display: none;
  }

  &Container{
    margin: 5rem 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10rem 12rem;

    &--1{
      grid-column-start: 1;
    }

    &--2{
      grid-column-start: 2;
    }

    &--3{
      grid-column-start: 1;
      grid-row-start: 2;
    }

    &--4{
      grid-column-start: 3;
      grid-row-start: 1;
    }

    &--5{
      grid-column-start: 2;
    }

    &--6{
      grid-column-start: 3;
    }
  }
}

.ArticleQuick{

  &-h2{
    padding: 7rem 0 1.5rem;
    font-size: 3rem;
  }

  &-subH2{
    padding: 0 30%;
    font-size: 1.1rem;
  }

  &-h4{
    font-size: 1.5rem;
  }

  &-markP{
    padding-top: 1rem;
    display: block;
    background: none;
  }

  &Container{
    padding: 0 10%;
    display: flex;
  }

  &SubContainer{
    padding-top: 10rem;
  }

  &-imgMoney{
    margin-left: -14rem;
  }

  &-p--down{
    display: none;
  }
}

.SectionSteps{
  padding: 5rem 10% 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px,1fr));
  grid-gap: 5rem;
  background-color: #f9fafc50;
}

.ArticleMaxQuick{
  display: block;

  &-h2{
    margin: 0;
    padding: 4rem 0 5rem;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    color: $blackFont;
  }

  &-strongH2{
    font-family: "Open Sans Bold", serif;
  }

  &-imgSend{
    margin: 0 auto;
    display: flex;
  }

  &Container{
    margin: 4.5rem 0 6.5rem;
    display: flex;
    justify-content: center;

    &-p{
      margin: 0 1.5rem;
      width: 20%;
      font-weight: normal;
      font-size: 0.9rem;
    }
  }

  &-linkChooseAgreement{
    text-decoration: none;
  }
}

.Footer{
  position: relative;
  padding-left: 7rem;

  &-h2{
    padding: 3rem 1.2rem 0;
  }

  &UL{
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 10rem;
    width: auto;

    &-li{
      background: none;
      width: 100px;

      &--7{
        display: none;
      }
    }

    &-link{
      color: $white;

      &:active{
        color: $activeOrange;
      }
    }


  }

  &-markBlock{
    display: inline;
  }

  &-p{
    padding: 1.5rem 0.5rem 0 1.2rem;

    &--down{
      padding: 0 2rem 3.5rem 1.2rem;
    }
  }

  &Fb{
    padding: 0;
    position: absolute;
    bottom: 3rem;
    right: 10rem;
    background: none;
  }
}