@import "../_source.scss";

.buttonType{
  margin: 7rem auto;
  padding: 0.8rem 2rem;
  display: flex;
  width: max-content;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body{
  overflow-x: hidden;
}

.Header{
  display: block;

  &-link{
    margin-left: 10%;
  }

  &Block{
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &UL{
    display: flex;
    width: auto;
    margin-right: 10%;

    &-listItem{
      background: none !important;
      font-size: 0.7rem;

      &--removed{
        display: none;
      }
    }

    &-link{
      color: $white;

      &:active{
        color: $activeOrange;
      }
    }
  }

  &-hamburger{
    display: none;
  }

  &-hamburgerIcon{
    display: none;
  }

}

input[type="range"]{
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.21);

  &::-webkit-slider-runnable-track {
    height: 1rem;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  &::-webkit-slider-thumb {
    width: 1rem;
    -webkit-appearance: none;
    height: 1rem;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -750px 0 0 750px #fff;
  }
}

.SFirst{

  &Container{
    margin-top: 5%;
    padding: 0 0 25% 10%;
    position: relative;
  }

  &RangeSubContainer{
    margin: 5% 0 5%;
    display: flex;
    justify-content: space-between;

    &-amountMoney{
      width: 3%;
      text-align: center;
      font-size: 1rem;
    }
  }

  &RangeContainer{
    margin: 5% 0 0;
    display: block;
    width: 50%;

  }

  &-h1{
    font-size: 2rem;
  }

  &-h2{
    font-size: 3.5rem;
  }

  &-mark10minute{
    display: inline;
  }

  &-paragraphChoose{
    display: none;
  }

  &-inputSubmit{
    margin: 0;
  }

  &-labelMonth--12{
    margin-bottom: 1.5rem;
  }

  &-labelMonth--desktop{
    display: inline;
    font-size: 1.4rem;

    &Right{
      margin-left: 10%;
    }
  }


  &Form{
    padding: 2rem;
    position: absolute;
    top: 0;
    right: 10%;
    background: #fff;
  }

  &-labelTelNumber{
    margin-bottom: 1.5rem;
  }

  &-inputTelNumber{
    display: block;
  }

  &-parOTPPassword{
    padding: 0.5rem 1rem 1.5rem 1rem;
    width: 200px;
  }

}

.ArticleHow{

  &-h2{
    padding-top: 9rem;
    font-size: 3rem;
  }

  &-paragraph{
    font-size: 1.1rem;
    color: $paragraphGrey;
  }

  &-imgMoney{
    width: auto;
  }

  &Div{
    padding: 0 10%;
    display: flex;
    align-items: center;
  }

  &UL{
    padding-left: 10%;

    &-lItem{
      font-size: 1.2rem;
    }
  }

}

