@import "../_source.scss";

body{
  scroll-behavior: auto;
}

.buttonType{
  border-radius: 3.2px;
  border: none;
  font-size: 0.8rem;
  padding: 0.8rem 0;
  letter-spacing: 0.9px;
  width: 100%;
  width: -webkit-fill-available;
  color: $white;
  margin: 0 1rem 0 -0.6rem;
  background-image: linear-gradient(288deg,  $strongGreen, $liteGreen);

  &:hover{
    background-image: linear-gradient(288deg, $strongGreen, $hoverGreen);
  }

  &:active{
    background-image: linear-gradient(288deg, $strongGreen, $pressedGreen);
  }
}

.ArticleReasons{
  padding-bottom: 2.5rem;

  &-h2{
    color: $blackFont;
    text-align: center;
    font-weight: normal;
    padding: 0 1.5rem;
  }

  &-credit{
    font-family: "Open Sans Bold", serif;
  }

  &Container{
    position: relative;
  }

  &-border{
    padding: 0 1rem 0 1rem;
    width: 90%;
  }

  &-h3{
    font-family: "Open Sans", serif;
    position: absolute;
    top: 0;
    font-size: 1rem;
    padding: 20% 20% 20% 25%;
  }

  &-quick{
    font-family: "Open Sans Bold", serif;
  }

  &-choose{
    margin: 0 1rem 0 1rem;
  }

  &UL{
    padding: 0;
    margin: 0;

    &-li{
      color: $blackFont;
      font-size: 0.9rem;
      padding:0 1.5rem 1rem 1rem;

      &:before{
        content: url("../../src/images/check.svg");
        padding-right: 0.5rem;
      }
    }
  }
}

.ArticleFAQ{
  padding: 2rem 0 2.5rem 0;
  background-color: #f9fafc;

  &-h2{
    text-align: center;
    color: $blackFont;
    font-weight: normal;
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
  }

  &-question{
    font-family: "Open Sans Bold", serif;
  }

  &-subH2{
    line-height: 1.6;
    text-align: center;
    color: $paragraphGrey;
    font-size: 0.9rem;
    padding: 0 1rem;
    margin: 0;
  }

  &-separator{
    margin: 1.5rem 0 1.5rem -0.5rem;
  }

  &-table{
    color: $blackFont;
    padding-left: 1.5rem;
    margin: 0 0 0.6rem 0;
    font-size: 0.9rem;
  }

  &-definition{
    color: $blueGrey;
    line-height: 1.6;
    letter-spacing: 0.2px;
    font-size: 0.8rem;
    padding: 0 1.5rem;
    margin: 0;
  }

  &-img{

    &--up{
      padding-left: 1rem;
    }

    &--down{
      padding: 0 0 2.5rem 1rem;
    }
  }

  &-chooseAgreement{
    text-align: center;
    display: block;
    text-decoration-line: none;
    margin: 0 -0.5rem;
  }
}

.ArticleQuick{
  padding-top: 2rem;

  &-h2{
    margin: 0 0 1rem 0;
    color: $blackFont;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
  }

  &-markH2{
    font-family: "Open Sans Bold", serif;
  }

  &-subH2{
    padding: 0 1rem 3rem 1rem;
    margin: 0;
    color: $paragraphGrey;
    line-height: 1.6;
    text-align: center;
    font-size: 0.9rem;
  }

  &-h4{
    margin: 0;
    padding: 0 0.5rem 2.5rem 1.2rem;
    font-size: 1.1rem;
    line-height: 1.26;
    color: $blackFont;
    font-weight: normal;
  }

  &-p{
    margin: 0;
    padding: 0 1.2rem;
    line-height: 1.86;
    font-size: 0.9rem;
    color: $blackFont;
  }

  &-imgMoney{
    padding: 2rem 1.2rem;
  }

  &-mark{
    color: #82b258;
    background: none;
  }

  &-chooseAgreement{
    text-align: center;
    display: block;
    text-decoration-line: none;
    margin: 3rem 1rem 6rem 1rem;
  }
}

.SectionStepsSection{
  position: relative;
  padding: 1rem 1.2rem 2rem 1.2rem;

  &-h3{
    color: #142745;
    font-family: "Open Sans Bold", serif;
    font-size: 1rem;
    margin: 0 2rem 0.5rem 0;
  }

  &-p{
    color: $blueGrey;
    line-height: 1.86;
    font-size: 0.9rem;
    margin: 0;
  }

  &-img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    padding-right: 1.2rem;
  }
}

.Passport{

  &Dl{
    padding-top: 4rem;
    padding-left: 1.5rem;
    color: $blackRules;
    margin: 0;

    &-dt{
      font-size: 1.1rem;

      &-padding{
        padding: 1rem 0;
      }
    }

    &-dd{
      font-size: 0.8rem;
      margin: 0;
    }
  }

  &-button{
    font-family: "Open Sans Bold", serif;
    color: #454545;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px #d1d1d1 solid;
    text-align: center;

    &--data{
      padding: 2rem 0;
    }

    &--back{
      padding: 1.2rem 0 1.5rem 0;
    }

    &--information{
      padding: 1.2rem 0 1.5rem 0;
    }

    &--credit{
      margin-top: 4rem;
      padding: 1.2rem 0 1.5rem 0;
      border-top: 1px #d1d1d1 solid;
    }
  }

  &Section{
    border-bottom: 1px #d1d1d1 solid;
    background-clip: padding-box;
    padding-left: 1.5rem;
    padding-right: 1rem;

    &-h4{
      font-size: 0.9rem;
      color: $blackRules;
      line-height: 1.6;
      margin: 0;
      padding: 1rem 0;
      border-bottom: 1px #d1d1d1 solid;
    }

    &-p{
      font-size: 0.9rem;
      margin: 0;
      padding: 1rem 0;
      color: #545454;
    }

    &--grey{
      background-color: #fbfbfb;
    }
  }

  &SectionFirst{
    background-color: #fbfbfb;
    margin-bottom: 4.5rem;

    &-paragraph{
      color: $blackRules;
      padding: 1rem 1.5rem 1rem 1.5rem;
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.6;
      border-bottom: 1px #d1d1d1 Solid;
    }
  }

  &-paragr{
    margin: 0;
    padding: 1.2rem 0.5rem 1.2rem 1.5rem;
    background-clip: padding-box;
    color: $blackRules;
    font-size: 0.9rem;
    border-bottom: 1px #d1d1d1 solid;
  }

  &-mark{
    background: none;
    font-family: "Open Sans Bold", serif;
  }

  &-labelCheck{
    font-size: 0.9rem;
    margin-left: 1rem;
  }

  &-buttonHideAll{
    color: $blackRules;
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 3.5rem ;
    padding: 0.8rem 0;
    border: none;
  }

  &-buttonContinue{
    margin: 3.5rem 1rem 5rem 1.5rem;
  }

  &-errorText{
    color: #f00;
    padding-left: 1.5rem;
    font-size: 0.9rem;
  }

  &SectionBorrower{
    padding-left: 1.5rem;

    &-h2{
      margin: 0;
      padding-top: 2rem;
      padding-bottom: 3rem;
      font-size: 1.2rem;
      font-weight: normal;
      color: #4a4a4a;
    }

    &-h3{
      margin: 0;
      padding-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: normal;
      color: $blackRules;
    }

    &-p{
      margin: 0;
      padding: 0 1rem 0.5rem 0;
      color: $blackRules;
      font-size: 0.7rem;
    }
  }

}


.Footer{
  background: linear-gradient(to top,$strongGreen,$middleGreen,$liteGreen);

  &-icon{
    padding: 2rem 0 1.5rem 1rem;
  }

  &-h2{
    margin: 0;
    line-height: 1.15;
    font-size: 1.6rem;
    padding: 0 1.2rem;
    color: $white;
    font-weight: normal;
  }

  &-p{
    font-size: 0.8rem;
    padding:  1.5rem 2rem 3.5rem 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
  }

  &-mark{
    color: $white;
    background: none;
  }

  &-markBlock{
    display: block;
    color: $white;
    background: none;
  }

  &UL{
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;

    &-li{
      font-size: 0.8rem;
      padding: 1rem 0 1rem 1.5rem;
      letter-spacing: 1px;
    }

    &-link{
      text-decoration: none;
      color: rgba(255,255,255,0.8);
      &--first{
        color: $activeOrange;
      }
    }

  }

  &Fb{
    display: flex;
    justify-content: center;
    padding: 3rem 0 1.5rem;
    background-color: rgba(0, 0, 0, 0.14);
  }

  &Share-svg{
    fill: rgba(255,255,255, 0.8);

    &:hover{
      fill: $white;
    }
  }

}

@for $i from 1 through 7 {
  .#{FooterUL-li--#{$i}}{
    background-color: rgba(0, 0, 0, $i*0.02);
  }
}


