@import "../_source.scss";

.Header{
  background: linear-gradient(to top left,$strongGreen,$middleGreen,$liteGreen);
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  &-hamburger{
    opacity: 0;
    width: 1.5rem;
    height: 1.3rem;
    margin-right: -4.5rem;
    z-index: 1;
  }

  &-hamburger:checked+&-hamburgerIcon{
    fill: $activeOrange;
    opacity: .5;
  }
  &-hamburger:checked~&UL{
    display: block;
    //transform: none;
    //opacity: 1;
  }

  &UL{
    display: none;
    //transform: translate(0, -100%);
    //opacity: 0;
    //transition: transform 0.5s, opacity 0.5s  cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

.SFirst{

  &--up{
    color: $white;
  }

  &-h1{
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 0;
  }

  &-span10minute{
    display: block;
    font-family: "Open Sans Bold", serif;
  }

  &-h2{
    font-size: 2.5rem;
    font-family: "Open Sans Bold", serif;
    margin: 0.5rem 0;
    font-weight: normal;
  }

  &-span5000{
    color: $activeOrange;
  }

  &-paragraphChoose{
    padding: 1.8rem 0;
    margin: 0;
    font-size: 1.2rem;
  }
}