@import "../_source.scss";

.Passport{
  padding-bottom: 20rem;

  &-header{
    margin: 0;
    padding: 1.5rem 0 0 1.5rem;
    font-size: 1.1rem;
    font-weight: normal;
  }

  &-step{
    margin: 0;
    padding: 0.5rem 0 0 1.5rem;
    font-size: 0.8rem;
    color: #a0a0a0;
  }

  &-bar{
    margin: 1rem 1.5rem 0.5rem;
    height: 2px;
    border: none;
    background: #40ff00;
  }

  &-percent{
    padding-left: 0.5rem;
    color: #424242;
  }

  &-progress{
    padding-left: 1.5rem;
    font-size: 0.8rem;
    color: #a0a0a0;
  }

  &-spinner{
      animation: rotate 2s linear infinite;
      z-index: 2;
      position: absolute;
      top: 60%;
      left: 50%;
      margin: -25px 0 0 -25px;
      width: 50px;
      height: 50px;

      & .path {
        stroke: #74b010;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
      }

    }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }


  &Final{
    padding-bottom: 5rem;

    &-h2{
      margin: 0;
      padding: 2.5rem 1.2rem 2rem 1.5rem;
      font-size: 1.1rem;
      color: #6aa23a;
    }

    &-checkImg{
      margin: 0 auto;
      display: block;
    }

    &-container{
      position: relative;
    }

    &-exclamation{
      width: 1.5rem;
      height: 1.5rem;
      left: 2rem;
      text-align: center;
      position: absolute;
      background: #74b010;
      color: $white;
      border-radius: 50%;
    }

    &-client{
      margin: 3rem 1.5rem 2.5rem 5rem;
      color: $blackRules;
      font-size: 0.9rem;
    }

    &-contract{
      margin: 0 20% 1.5rem 15%;
      font-size: 0.9rem;
      color: $blackRules;
    }

    &-button{
      margin: 0 auto 1rem;
      padding: 0.2rem 1rem;
      display: block;
      background: none;
      border: solid 1px #979797;
      border-radius: 27px;
    }

  }

}