@import "../source.scss";

.buttonType{
  margin: 5% auto;
  padding: 0.8rem 1rem;
  width: max-content;
  display: block;
}

.Header{

  &-link{
    margin-left: 10%;
  }

  &-icon{
    padding-left: 0;
  }
}

.ArticleHow{

  &Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.ArticleFAQ{

  &-separator{
    display: none;
  }

  &-definition{
    padding: 0 1.5rem 1rem;
  }
}

.ArticleQuick{

  &-pictureMoney{
    display: flex;
    justify-content: center;
  }

  &-imgMoney{
    padding: 5% 0;
  }
}

.SectionStepsSection{
  padding: 1rem 1.2rem 10% 1.2rem;
}

.Passport{
  padding-bottom: 20%;

}

.SFirst{
  &Container{
    padding: 0 15%;
  }

  &-inputTelNumber{
    display: block;
  }

  &-inputSubmit{
    width: 90%;
    width: -webkit-fill-available;
    margin: 5% 1.5rem 5% 0;
  }
}

